<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/normalize.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    {{! Everything else gets inserted here }}
    {{{body}}}

    <footer class="site-footer flex">
        <!-- <a class="subscribe icon-feed" href="{{@site.url}}/rss/"><span class="tooltip">Subscribe!</span></a> -->
        <div class="inner">
            <a id="wiki" class="icon" href="https://wiki.tobias-huebner.org" ></a>
            <a id="gitea" class="icon" href="https://gitea.tobias-huebner.org" ></a>
            <a id="linkedin" class="icon" href="https://www.linkedin.com" ></a>
        </div>
    </footer>
    <div class="footer2">
        <div class="container">
            <div class="left">©<div id="year"></div> Tobias Hübner</div>
            <div class="right">
                <a class="homepage-link" href="https://tobias-huebner.org">tobias-huebner.org</a>
            </div>
        </div>
    </div>

    <script>
        let year_dom = document.getElementById("year");
        let year = new Date().getFullYear().toString();
        year_dom.innerText = year;
    </script>


    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! Scripts }}
</body>
</html>
